# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
# .env
.venv/

# Environment Variables
# .env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
